<div class="footer-container">
    <div class="footer">
        <div class="footer-heading footer-1">
            <h2>about us</h2>
            <a href="#" class="">blog</a>
            <a href="#" class="">demo</a>
            <a href="#" class="">customers</a>
            <a href="#" class="">shot</a>
            <a href="#" class="">faq</a>
        </div>
        <div class="footer-heading footer-2">
            <h2>contact us</h2>
            <a href="#" class="">jobs</a>
            <a href="#" class="">elo</a>
            <a href="#" class="">shorts</a>
            <a href="#" class="">art</a>
            <a href="#" class="">vidos</a>
        </div>
        <div class="footer-heading footer-3">
            <h2>faq</h2>
            <a href="#" class="">ig</a>
            <a href="#" class="">fb</a>
            <a href="#" class="">yt</a>
            <a href="#" class="">steam</a>
            <a href="#" class="">origin</a>
        </div>
        <div class="footer-email-form">
            <h2>email us</h2>
            <input type="email" placeholder="enter ur email" id="footer-email">
            <input type="submit" value="sign up" class="footer-email-btn">
        </div>
    </div>
</div>