{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{% static 'style/style-shop.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <title>webshop-home</title>
</head>
<body>
    {% include 'partials/header.html' %}
    <div class="klasa" style="background: url({% static 'images/v960-ning-05.jpg'%}) center/cover transparent;">
        <h3>build in Django, using some JavaScript(Ajax) with automated database <br><br><br> by kkaarroollm</h3>
    {% include 'partials/wrapper.html' %}
    </div>
    <div class="push"></div>
    {% include 'partials/footer.html' %}
</body>
<script src="{% static 'scripts/jquery.js' %}"></script>
<script src="{% static 'scripts/script.js' %}"></script>
</html>